<style>
    
      .map-container {
    height: 65rem;
    width:100%;
    padding-bottom:10rem;
    /*width: 50%;*/
  }

#map {
    height: 100%;
    width: 100%;
}

</style>
<div class="map-container">
    
<leaflet id="map" center="center" layers = "layers" markers="markers" defaults="defaults"></leaflet>
</div>

<!-- <input type = "checkbox" ng-change = "changed()" ng-model="waterChecked">水機</input>
<input type = "checkbox" ng-change = "changed()" ng-model="wifiChecked">wifi</input>
<input type = "checkbox" ng-change = "changed()" ng-model="toiletChecked">廁所</input>
<input type = "checkbox" ng-change = "changed()" ng-model="recycleChecked">回收桶</input> -->

<div ng-repeat = "markerType in markerTypes">
	<input type = "checkbox" ng-change="changed()" ng-model="markerType.checked">{{markerType.name}}</input>
</div>